* {
    padding: 0em;
    margin: 0em;
    overflow: auto;
}

:root {
    --hfbgcolor: #160f0f;
    --navbgcolor: #2e2222;
    --headertxtcolor: white;
    --footertxtcolor: #c47d21;
    --hovercolor: #131212;
    --navlinkcolor: #e68c16;
    --linkcolor: #e68c16;
    --visitedlink: #e68c16;
    --currentpagelink: #FF3300;
    --mainbgcolor: #9e661d;
    --sectionbgcolor: #663d07;
    --repoimgbgcolor: #e68c16;
}

p {
    line-height: 1.5em;
    margin: 1em;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--hfbgcolor);
    color: var(--headertxtcolor);
}

header>img {
    width: 13%;
    height: auto;
}

nav {
    background-color: var(--navbgcolor);
}

nav>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

nav>ul>li {
    text-align: center;
    list-style-type: none;
    padding: 1%;
    width: 20%;
}

nav>ul>li:hover {
    background-color: var(--hovercolor);
    transition-duration: 0.5s;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--linkcolor);
}

a:visited {
    color: var(--visitedlink)
}

nav a:visited,
nav a:link {
    color: var(--navlinkcolor);
}

#currentPage {
    color: var(--currentpagelink);
}

#currentPage:before {
    content: "> ";
}

#currentPage:after {
    content: " <";
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--mainbgcolor);
}

main>div {
    background-color: var(--sectionbgcolor);
    border-radius: 9px;
    width: 35%;
    margin: 2%;
    padding: 2%;
}

footer {
    text-align: center;
    background-color: var(--hfbgcolor);
}

footer>p {
    text-align: center;
    color: var(--footertxtcolor);
}

/*Regole specifiche per pagina principale*/

#informationDiv {
    background-color: transparent;
    padding: 0%;
}

#informationDiv>div {
    background-color: var(--sectionbgcolor);
    border-radius: 9px;
    padding: 9%;
}

#informationDiv>div:nth-child(1) {
    margin-bottom: 2%;
}

#profileDiv {
    text-align: center;
}

#profileDiv>ul {
    list-style-type: none;
}

.profileIcon {
    width: 20%;
    height: 20%;
    padding: 3%;
    border-radius: 50%;
}

/*Regole specifiche per pagina documenti*/

div.documentDiv {
    text-align: center;
    width: 35%;
}

div.documentDiv>a:link {
    text-decoration: underline;
}

div.documentDiv>ul {
    list-style-type: none;
}

/*Regole specifiche per pagina profilo github*/

div.repoDiv {
    text-align: center;
    width: 35%;
}

div.repoDiv>a>img {

    background-color: var(--repoimgbgcolor);
    border-radius: 50%;
    max-width: 25%;
}