*
{
    padding: 0em;
    margin: 0em;
}

header
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(22, 15, 15);

}

header>img
{
    width: 10%;
    height: 10%;
}

nav
{
    background-color: rgb(46, 34, 34);
}

nav>ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

nav>ul>li
{
    text-align: center;
    display:inline-block;
    width: 20%;
    padding: 1%;
}

nav>ul>li:hover
{
    background-color: rgb(19, 18, 18);
    transition-duration: 0.5s;
}

a
{
    text-decoration: none;
}

a:visited, a:link
{
    color: rgb(230, 140, 22);
}

#currentPage
{
    color: rgb(255, 51, 0)
}

#currentPage:before
{
    content: "> ";
}

#currentPage:after
{
    content: " <";
}

main
{
    display: flex;
    justify-content: center;
    background-color: rgb(158, 102, 29);
}

main>div
{
    background-color: rgb(102, 61, 7);
    border-radius: 9px;
    width: 35%;
    margin: 2%;
    padding: 2%
}

#profileDiv
{
    text-align: center;
}

#profileDiv>ul
{
    list-style-type: none;
}

.profileIcon
{
    width: 20%;
    height: 20%;
    padding: 3%;
    border-radius: 50%;
}

footer
{
    text-align: center;
    background-color: rgb(22, 15, 15);   
}

footer>p
{
    text-align: center;
    color: rgb(196, 125, 33); 
}

/*Regole specifiche per pagina documenti*/

div.documentDiv
{
    text-align: center;
    width: 35%;
}

div.documentDiv>a:link
{
    text-decoration: underline;
}

div.documentDiv>a:visited
{
    text-decoration: underline;
    color: rgb(252, 51, 0);
}

/*Regole specifiche per pagina profilo github*/

div.repoDiv
{
    text-align: center;
    width: 35%;
}

div.repoDiv>a>img
{
    
    background-color: rgb(230, 140, 22);
    border-radius: 50%;
    max-width: 25%;
}