:root {
  --accent: #ff3b7f;
  --accent2: #7a2d64;
  --link: #c03e6b;
  --shadow: rgba(192, 62, 107, 0.05);
  --bg: #2c2c2c;
  --bg2: #494949;
  --border: #444;
  --header: #d3d3d3;
  --fg: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #efefef;
    --bg2: #dbdbdb;
    --header: #000000;
    --border: #444;
    --fg: #000;
    --link: #5e9fff;
  }

  .arrow-icon {
    filter: brightness(0) !important;
  }
}

body {
  background: var(--bg) !important;
  color: var(--fg) !important;
}

.textcenter {
  text-align: center;
}

.logomain {
  max-height: 300px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s ease-out forwards;
}

.fade-in {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUp 1s ease 0.5s forwards;
}

.delay-1 {
  animation-delay: 200ms;
}
.delay-2 {
  animation-delay: 250ms;
}
.delay-3 {
  animation-delay: 300ms;
}
.delay-4 {
  animation-delay: 350ms;
}
.delay-5 {
  animation-delay: 400ms;
}
.delay-6 {
  animation-delay: 450ms;
}
.delay-7 {
  animation-delay: 500ms;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-header {
  background-color: var(--bg);
  box-shadow: 0 4px 8px rgba(229, 57, 117, 0.4);
  position: relative;
}

.navbar {
  background-color: var(--bg2);
  box-shadow: 0 4px 8px rgba(229, 57, 117, 0.4);
}

.navbar-brand,
.nav-link {
  color: var(--accent) !important;
}

.navbar-toggler {
  border-color: var(--accent);
}

.navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

.card {
  background-color: var(--bg);
  border: 1px solid var(--border);
  box-shadow: 0 1px 2px var(--shadow);
}

.btn-link {
  color: var(--accent);
  background: linear-gradient(45deg, var(--accent), var(--accent2));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-link:hover {
  color: var(--accent);
}

h3 {
  color: var(--accent);
}

p,
.navTitle {
  color: var(--header);
}

.profile-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(192, 62, 107, 0.4);
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-name {
  text-align: center;
  margin-top: 10px;
}

.card-body ul {
  color: var(--fg);
}

.arrow-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease;
  filter: brightness(0) invert(1);
}

.dropdown-toggle-icon.collapsed .arrow-icon {
  transform: translateY(-50%) rotate(0deg);
}

.dropdown-toggle-icon:not(.collapsed) .arrow-icon {
  transform: translateY(-50%) rotate(-90deg);
}

footer {
  text-align: center;
  justify-content: center;
}

#mail-link {
  display: block;
  text-align: center;
}
